* {
    /* outline: 1px dotted; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

p, ul, ol {
    line-height: 1.6;
}

h2 {
    color: orangered;
}

.title {
    text-align: center;
    font-size: 50px;
}

.recipe-title {
    text-align: left;
    color: orangered;
    flex: 1;
}

.ingredients-list {
    list-style-type: none;
    padding: 2, 15px;
}

.ingredients-list li {
    list-style-type: none;
    margin: 10px;
    padding: 6px;
}

.directions-list li {
    margin: 0;
    padding: 10px;
    /* border: 1px dotted; */
}
